.attendance-page {
  //background-color: #f4f6f9;
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.padding-1rem-top {
  padding-top: 12px;
}

.date-format {
  font-weight: 500;
  max-width: 100%;
  text-transform: uppercase;
}
.row.days{
  .col:first-child {
    border-left: 1px solid #b3b5b9 !important;
  }
  .col:last-child {
    border-right: 1px solid #b3b5b9 !important;
  }
}
.currentDate {
  background-color: black;
  color: #ffff00;
  font-weight: bold; // border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 48px; // /* margin-top: 4px; */
  font-size: 20px; // /* margin: 0px !important; */
  float: right;
  margin-right: -10%;
}

.typecurrentDate {
  background-color: black;
}

.text-left {
  // font-style: italic;
  font-weight: bold;
  color: black;
  font-size: 1rem;
}

.no-current-date {
  // float: right; // text-align: center;
  // margin-left: 3.2rem;
}

.date-status {
  float: left;
  padding-left: .9rem;
}

.no-current-date {
  // padding-right: .9rem;
}

.no-status-date {
  // padding-right: 1.5rem !important;
}

.currentDate.no-status-date {
  // padding-right: 3.0rem !important;
}

.typeP.typecurrentDate,
.typeT.typecurrentDate {
  background-color: none;
}

.typeT {
  .currentDate {
    padding-right: 1rem;
  }
}

.typeP,
.typel {
  .no-current-date {
    padding-right: 1rem;
  }
}

.attendance-section {
  padding: 0px !important;
  box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
  background: #fff;
  #attendance-header {
    // border: 1px solid #e0e2e7;
    .row {
      margin-right: 0px;
      margin-left: 0px;
    }
  }
  .date-section {
    background-color: white;
    padding: 0px 10px 10px 10px;

    .month {
      .col-5 {
        padding-left: 0;

        .row {
          div {
            border: 1px solid #eee;
            padding: 5px 5px;
            border-radius: 3px;
          }
        }
      }
    }
  }
  .MonthYearCalendar {
    border: none;
    padding: 0;
    margin: 0 0 0 4px;
    font-size: 13px;
    line-height: 1;
    color: #333;
    width: 145px;
    height: 24px;
    font-weight: 500;
  }
  .row.days {
    .col:first-child {
      border-left: 1px solid #b3b5b9 !important;
    }
    .col:last-child {
      border-right: 1px solid #b3b5b9 !important;
    }
  }
  .calendar-date {
    .col:first-child {
      border-left: 1px solid #e0e2e7 !important;
    }
    .col:last-child {
      border-right: 1px solid #e0e2e7 !important;
    }
    .col {
      // height: 3rem;
      line-height: 3;
      font-weight: 500;
      width: 12%;
      padding-right: 3%;
      padding-left: 3%;
      border-left: 1px solid #e0e2e7;
      border-bottom: 1px solid #e0e2e7;
    }
  }
  .holiday {
    // margin-bottom: -2px;
    //background-color: rgb(227, 24, 54); // border-radius: 50%;
    display: inline-block;
    color:#212529;
  }
  .weeklyoff {
    // margin-bottom: -2px;
    background-color: rgba(0, 0, 0, 0.22); // border-radius: 50%;
    display: inline-block;
    color: black;
  }
  .green-dot,
  .typeP {
    // height: .8rem;
    // width: .8rem;
    margin-bottom: -2px;
    background-color: rgba(97, 174, 2, 0.6); // border-radius: 50%;
    display: inline-block;
  }
  .typeA {
    // height: .8rem;
    // width: .8rem;
    background-color: rgba(227, 25, 54, 0.6); // border-radius: 50%;
    display: inline-block;
    margin-bottom: -2px;
  }
  .typeH {
    // height: .8rem;
    // width: .8rem;
    background-color: rgba(0, 0, 0, 0.1); // border-radius: 50%;
    display: inline-block;
  }
  .typeT {
    // height: .8rem;
    // width: .8rem;
    background-color: rgba(254, 215, 0, 0.6); // border-radius: 50%;
    display: inline-block;
  }
  .red-dot {
    // height: .8rem;
    // width: .8rem;
    background-color: rgba(227, 25, 54, 0.6); // border-radius: 50%;
    display: inline-block;
  }
}

.no-record {
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  margin-top: 2.5rem;
  font-size: 14px;
  font-weight: 400;
}

.green-dot-circle {
  height: .6rem;
    width: .6rem;
    background-color: #e31836;
    display: inline-block;
    margin-right: 4px;
    margin-left: 15px;
}

.grey-dot-circle {
  height: .9rem;
  width: .9rem;
  background-color: rgb(163, 164, 168);
  border-radius: 50%;
  display: inline-block;
  margin-bottom: -2px;
}

.yellow-dot-circle {
  height: .9rem;
  width: .9rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: inline-block;
  margin-bottom: -2px;
}

.red-dot-circle {
  height: .9rem;
  width: .9rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: inline-block;
  margin-bottom: -2px;
}

#map-footer {
  button {
    margin: 0 auto;
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.no-current-date {
  font-size: 14px !important;
  line-height: 3.5 !important;
}

.map-button {
  padding-bottom: 20px;
  border-bottom: 1px solid #e9ecef;
}

.col {
  //border-bottom: 1px solid lightgrey;
  //border-right: 1px solid lightgrey;
  text-align: center;
}

#check-in-out-time {
  width: 50%;
}

.days {
  color: gray!important;
  background: #cbcdd2;
  div {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #cbcdd2;
    border-bottom: 1px solid #cbcdd2;
    border-right: 1px solid #9a9ea9;
    color: #000;
    font-weight: 500;
  }
  div:last-child {
    border-right: none;
  }
}

.map-button {
  // margin-bottom: .5rem;
  button {
    background-color: light#e0e2e7;
    border-radius: 50px;
    border: none;
    color: #000;
    font-size: 14px;
    width: 150px;
    box-shadow: 1px 1px 1px 0px #e0e2e7;
  }
}

#highlight {
  font-size: 2rem;
}

.date-section .month {
  line-height: 1;
  padding: 7px 0;
  // text-transform: uppercase;
  .col {
    border: transparent;
    background-color: transparent;
    outline: none;
  } // .col-3 {
  //   width: 11%;
  // }
  // .col-3 {
  //   max-width: 12% !important;
  // }
  // .col-5 {
  //   padding-left: 0px !important;
  //   max-width: 37.666667% !important;
  // }
}

.right-align {
  padding: 0;
  text-align: right;
}

.clock-icon {
  margin-right: 38%;
  img {
    width: 2rem;
  }
}

#mapModal,
#dateModal {
  #attendance_header {
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

#calendar_day {
  background-color: #e9ecef !important;
  height: 40px !important;
  line-height: 40px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.legends {
  margin: 3px;
}

.date-info-section {
  margin-top: 2rem;
}

.holiday-section,
.date-info-section {
  .description {
    padding: 8px;
    max-width: 33.333333% !important;
    flex: 0 0 33.333333%;
    width:33.333333% 
  }
  .title {
    padding: 8px;
    max-width: 33.333333% !important;
    flex: 0 0 33.333333%;
    width:33.333333% 
  }
  .col-4 {
    max-width: 31.333333%;
  }
  .col-2 {
    max-width: 18.66690%;
  }
  min-height: 53%;
  // border: 1px solid #e0e2e7;
  padding: 0px;
  .row {
    min-height: 2rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
  }
  .col {
    padding: .5rem;
  }
  .row:last-child {
    .col:first-child {
      text-align: left;
      border-top: 1px solid #e0e2e7;
      border-right: 1px solid #e0e2e7;
      border-bottom: 1px solid #e0e2e7; // border-left: 1px solid #e0e2e7;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .col:last-child {
      text-align: left;
      border-top: 1px solid #e0e2e7; // border-right: 1px solid #e0e2e7;
      border-bottom: 1px solid #e0e2e7; // border-left: 0px solid #e0e2e7;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .col:first-child {
    text-align: left;
    border-top: 1px solid #e0e2e7;
    border-right: 1px solid #e0e2e7;
    border-bottom: 0px solid #e0e2e7; // border-left: 1px solid #e0e2e7;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .col:last-child {
    text-align: left;
    border-top: 1px solid #e0e2e7; // border-right: 1px solid #e0e2e7;
    border-bottom: 0px solid #e0e2e7;
    border-left: 0px solid #e0e2e7;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.col.side-section {
  padding-right: 0px !important;
}

.holiday-section {
  // overflow-y: auto;
   background: #fff;
  // min-height: 230px;
  height: 90vh;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
}

.holiday-section {
  .header-section {
    // line-height: 2;
    height: 7.6vh;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 16px;
    text-transform: capitalize;
    text-align: left;
     border-bottom: 0px !important;
    display: flex;
    align-items: center;
  }
  

}
.w-500{
  font-weight: 500 !important;
}
.statusH{
  border: 1px solid #e31836;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  line-height: 1.5;
  font-size: 9px;
  background: #e31836;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
}
.holidayGrid{
  height: 227px;
  overflow-y: auto;
  text-align: left;
  .row{
    // padding: 10px;
}
}
.holidayDescription{
  word-break: break-all;
}

.header-bg-color {
  background-color: #cbcdd2 !important;
  padding-right: 16px;
}
.table{
margin-bottom: 0px;
}
.table.holiday_Table thead tr{
  background: #cbcdd2;
}
.table.holiday_Table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #eee !important;
  font-weight: 500 !important; 
  color: #000 !important;
  font-size: 14px !important;
  padding: 12px;
  
}
.table.holiday_Table tbody tr{
  border-bottom: 1px solid #eee;
}
.table.holiday_Table tbody tr td{
  font-size: 12px !important;
  margin-bottom: 0px !important;
  padding: 10px !important;
  word-break: break-all;
}
.customTblScroll{
  height: 87vh;
   overflow-y: auto;
}
.blue-dot-circle{
  height: .6rem;
  width: .6rem;
  background-color: #00BCD4;
  display: inline-block;
  margin-right: 4px;
  margin-left: 15px;
}
.orange-dot-circle {
  height: .6rem;
  width: .6rem;
  background-color: #f7a429;
  // border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
  margin-left: 15px;
}
.p-r-0{
  padding-right: 0px;
}
.statusH {
  border: 1px solid #e31836;
  height: 15px;
  width: 15px;
  // margin-top: 16px;
  border-radius: 50%;
  line-height: 1.5;
  font-size: 9px;
  background: #e31836;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
}
.statusO {
  border: 1px solid #00BCD4;
  height: 15px;
  width: 15px;
  // margin-top: 16px;
  border-radius: 50%;
  line-height: 1.5;
  font-size: 9px;
  background: #00BCD4;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
}
.statusW {
  border: 1px solid #f7a429;
  height: 15px;
  width: 15px;
  // margin-top: 16px;
  border-radius: 50%;
  line-height: 1.5;
  font-size: 9px;
  background: #f7a429;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
}
/deep/.ui-datepicker-calendar {
  display: none !important;
}
/deep/ .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  opacity: 1 !important;
  font-weight: bold;
}
.lagendPanelRow{
  display: flex;
  align-items: center;
  padding: 0px;
}
.holidayDataDetails{
  padding: 0px;
  .mainOuterHdr{
    background: #cbcdd2;
    padding: 11px;
    display: flex;
    align-items: center;
    p{
      margin-bottom: 0px;
      font-weight: 500 ;
     color: #000 ;
     font-size: 14px;
    }
  }
  .nav-tabs {
    border-bottom: 1px solid #f2f3f5;
    margin-bottom: 10px;
}
  #tabs{
    padding: 0px 10px 10px 10px;
  }
  #tabs h6.section-title{
      color: #eee;
  }
  
  #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000 !important;
    border-top: 1px solid #f2f3f5 !important;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    border-left: 1px solid #f2f3f5 !important;
    border-right: 1px solid #f2f3f5 !important;
  }
  #tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #bdb2b2;
    font-size: 13px;
  }
  .tab-content{
    text-align: left;
    .font-12{
      font-size: 12px;
    }
  }
  .tab-pane{
    font-size: 13px;
    height: 70vh;
    overflow-y: auto;
    .row{
      min-height: 2.5rem !important;
      background-color: #fff;
      border-bottom: 1px solid #eee;
      display: flex;
      align-items: center;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
  
    }
  }
}