<div class="container attendance-page font-14" >
    <div class="row horizontal-padding">
        <div class="col col-md-4 selection">
            <label for="start">Start date:</label>

            <input type="date" id="start" name="trip-start"
                   value="2018-07-22"
                   min="2018-01-01" max="2018-12-31">
        </div>
                   <div class="col col-md-4 selection">

                   <label for="start">End date:</label>

                   <input type="date" id="start" name="trip-start"
                          value="2018-07-22"
                          min="2018-01-01" max="2018-12-31">

                          <img style="height:30px;width:30px" (click)="exportCSV()" src='assets/img/downloading-file.png'>

        </div>
    </div>
</div>
